/* 0-576px */
@media (max-width: 576px) {
  .precHeading,
  .windHeading,
  .gust,
  .feelsLike,
  .precipLongSwe,
  .precipLongEng {
    display: none;
  }
}
/* 577-768px */
@media (max-width: 768px) {
  .foreCastIcon {
    width: 50px;
  }
  .menuItem,
  .windUnit,
  .precUnit,
  .tempHeading,
  .dayHeading {
    display: block;
    /* font-size: 14px; */
  }
}
/* 769-991px */
@media (max-width: 991px) {
  .mainWeatherContainer {
    display: flex;
    flex-direction: column;
  }
  .precipLongSwe,
  .precipLongEng {
    display: none;
  }
}
/* 992px - infinity */
@media (min-width: 992px) {
  main {
    max-width: 80vw;
  }
  .mainWeatherContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "mainLeft mainRight";
  }
  .precipLongSwe,
  .precipLongEng {
    display: inline;
  }
  .precipShortSwe,
  .precipShortEng {
    display: none;
  }

  .mainLeft {
    border-right: 1px solid lightgray;
    grid-area: mainLeft;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mainRight {
    grid-area: mainRight;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
