* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  letter-spacing: 0.2em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 520px;
}
/* Dark-mode/night background*/
[data-bs-theme="dark"] body {
  background: url("../img/dark_bg_svg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* [data-bs-theme="dark"] .forecastTableContainer *,
tbody {
  background-color: #495057;
}
 */

[data-bs-theme="dark"] .mainWeatherContainer {
  background-color: #495057;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mainLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.mainRight {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
/* Make icons easier to see in night mode */
[data-bs-theme="dark"] img[src*="openweathermap.org"] {
  filter: brightness(1.5) contrast(1.2);
}

.settingsContainer .form-check {
  height: auto;
}

.settingsContainer .form-check-input {
  margin-top: 0;
  align-self: center;
}

.settingsContainer .form-check-label {
  margin-bottom: 0;
}
