* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  letter-spacing: 0.2em;
}
/* Dark-mode/night background*/
[data-bs-theme="dark"] body {
  background: url("../img/dark_bg_svg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* Site container */
.container {
  max-width: 800px;
}
/* Right card container */
.forecast-container {
  width: 300px;
}
.icon {
  position: relative;
  top: -50px;
  border-radius: 50%;
  width: 100px;
  margin-bottom: -50px;
  /* background-color: var(--bs-light) !important; Vit bakgrund i light mode */
  /* border: 1px solid var(--bs-border-color);  */
}
/* Force dark background on icon container in dark mode */
[data-bs-theme="dark"] .icon {
  background-color: var(--bs-dark);
}
/* .currentWeatherContainer {
  background: blue;
  display: grid;
  grid-template-rows: 3;
  grid-template-columns: 2;
}
.currentWeatherContainer * {
  border: 1px solid lightgray;
} */

/* Headings for right card */
/* h6 {
  font-weight: 600;
} */
/* Grey instead of black background in dark mode */
[data-bs-theme="dark"] .card {
  background-color: #495057;
  color: #fff;
}
[data-bs-theme="dark"] .forecastTableContainer *,
tbody {
  background-color: #495057;
  color: #fff;
}

/* Fix to make the tr fit in the table */
.forecastTableContainer {
  width: 120%;
}

.mainWeatherContainer {
  height: 700px;
  width: 120%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "mainLeft mainRight";
}
.mainLeft {
  border-right: 1px solid lightgray;
  grid-area: mainLeft;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.mainRight {
  grid-area: mainRight;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.mainRight * {
  /* border: 1px solid lime; */
}
