* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("./img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  letter-spacing: 0.2em;
}

[data-bs-theme="dark"] body {
  background: url("./img/dark_bg_svg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container {
  max-width: 800px;
}
.forecast-container {
  width: 300px;
}
.icon {
  position: relative;
  top: -50px;
  border-radius: 50%;
  width: 100px;
  margin-bottom: -50px;
}
.currentWeatherContainer {
  display: grid;
  grid-template-rows: 3;
  grid-template-columns: 2;
}
.currentWeatherContainer * {
  border: 1px solid lightgray;
}
.windArrow {
  font-size: 40px;
}
h6 {
  font-weight: 600;
}

[data-bs-theme="dark"] .card {
  background-color: #495057; /* Mörkare kortbakgrund */
  color: #fff;
}
[data-bs-theme="dark"] .forecastTableContainer *,
tbody {
  background-color: #495057;
  color: #fff;
}
.icon {
  /* background-color: var(--bs-light) !important; Vit bakgrund i light mode */
  /* border: 1px solid var(--bs-border-color);  */
}

[data-bs-theme="dark"] .icon {
  background-color: var(--bs-dark);
}
